<div id="wrapper">

    <!-- header -->
    <div id="main_header" class="header-transparent" uk-sticky="top:10; cls-inactive :header-transparent">
        <header>

            <!-- Logo-->
            <i class="header-traiger uil-bars" uk-toggle="target: #wrapper ; cls: mobile-active" (click)="goToTheHome()"></i>


            <div class="h5 uk-hidden@m mr-3 mb-0"> Bootstro</div>
            <!-- form search-->
            <div class="head_search uk-visible@m">
                <form>
                    <div class="head_search_cont">
                        <input value="" type="text" class="form-control"
                               placeholder="Search for Customers, Products, Files and more.." autocomplete="off">
                        <i class="s_icon uil-search-alt"></i>
                    </div>

                </form>
            </div>

            <!-- user icons -->
            <div class="head_user">


                <!-- browse apps  -->
                <a href="#" class="opts_icon uk-visible@s"> <i class="uil-shop"></i></a>
                <a href="#" class="opts_icon uk-visible@s"> <i class="uil-shopping-basket"></i> <span>1</span></a>
                <!-- cart apps dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read" >
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col" style="vertical-align: text-top; text-align: left; font: 0.875rem / 1.5 Consolas, monaco, monospace;">Provider</th>
                                        <th scope="col" style="vertical-align: text-top; text-align: left; font: 0.875rem / 1.5 Consolas, monaco, monospace;">Order Time (giờ)</th>
                                        <th scope="col" style="vertical-align: text-top; text-align: left; font: 0.875rem / 1.5 Consolas, monaco, monospace;">Total ($/giờ)</th>
                                        <th scope="col" style="vertical-align: text-top; text-align: left; font: 0.875rem / 1.5 Consolas, monaco, monospace;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let o of orderLovers">
                                        <td><span class="notification-avatar" style="width: 26px; height: 26px">
                                            <img src="{{o?.provider?.account?.avatar}}" alt="">
                                        </span></td>
                                        <td style="text-align: center; font: 0.875rem / 1.5 Consolas, monaco, monospace;color: #666;">{{o?.provider?.account?.fullName}}</td>
                                        <td style="text-align: center;font: 0.875rem / 1.5 Consolas, monaco, monospace;color: #666;">{{o.orderTime}}</td>
                                        <td style="text-align: center;font: 0.875rem / 1.5 Consolas, monaco, monospace;color: #666;">{{o.total}} </td>
                                        <!--                                        <td><button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="createOrderLover()">Order</button></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>
                </div>


                <!-- Message  notificiation dropdown -->
                <a href="#" class="opts_icon"> <i class="uil-envelope-alt"></i> <span>4</span> </a>

                <!-- Message  notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications large">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Messages</h4>
                        <a href="#">
                            <i class="icon-feather-settings" uk-tooltip="title: Message settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-2.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alia Joseph</strong>
                                        <p>Okay thanks.. I will be waiting for your answer</p>
                                        <span class="time-ago"> 2 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-3.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Stella Johnson</strong>
                                        <p> Alia Joseph just joined Messenger! say Hi. </p>
                                        <span class="time-ago"> 7 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-1.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Alex Dolgove</strong>
                                        <p> Alex will explain you how to keep the structure ....</p>
                                        <span class="time-ago"> 19 hours ago </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-avatar">
                                            <img src="assets/images/team/team-4.jpg" alt="">
                                        </span>
                                    <div class="notification-text notification-msg-text">
                                        <strong>Adrian Mohani</strong>
                                        <p> Okay thanks.. I will be waiting for your answer </p>
                                        <span class="time-ago"> Yesterday </span>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="dropdown-notifications-footer">
                        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                    </div>


                </div>


                <!-- notificiation icon  -->
                <a href="#" class="opts_icon"> <i class="uil-bell"></i> <span>3</span> </a>

                <!-- notificiation dropdown -->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications">

                    <!-- notivication header -->
                    <div class="dropdown-notifications-headline">
                        <h4>Notifications </h4>
                        <a href="#">
                            <i class="icon-feather-settings"
                               uk-tooltip="title: Notifications settings ; pos: left"></i>
                        </a>
                    </div>

                    <!-- notification contents -->
                    <div class="dropdown-notifications-content" data-simplebar>

                        <!-- notiviation list -->
                        <ul>
                            <li class="notifications-not-read">
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="uil-shopping-basket text-danger"></i></span>
                                    <span class="notification-text"> New Order Recieved
                                            <br> <span class="time-ago"> 9 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> 19 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-danger">
                                            <i class="icon-feather-database text-danger"></i></span>
                                    <span class="notification-text">  Server Limit Reached!
                                            <br> <span class="time-ago"> 12 hours ago </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-primary">
                                            <i class="uil-apps text-primary"></i></span>
                                    <span class="notification-text">
                                            <strong>10+</strong>  Apps ready for update
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                        <span class="notification-icon bg-soft-success">
                                            <i class="uil-user-plus text-success"></i></span>
                                    <span class="notification-text"> New customer registered
                                            <br> <span class="time-ago"> Yesterday </span>
                                        </span>
                                </a>
                            </li>
                        </ul>

                    </div>


                </div>

                <!-- profile -image -->
                <a class="opts_account"> <img src="{{account?.avatar}}" alt=""></a>

                <!-- profile dropdown-->
                <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                     class="dropdown-notifications small">

                    <!-- User Name / Avatar -->
                    <a href="#">

                        <div class="dropdown-user-details">
                            <div class="dropdown-user-avatar">
                                <a class="opts_account">
                                    <img src="{{account?.avatar}}" alt=""></a>
                            </div>
                            <div class="dropdown-user-name">
                                {{account?.username}} <span> {{account?.wallet}} <i class="icon-feather-dollar-sign"></i> </span>
                            </div>
                        </div>

                    </a>

                    <!-- User menu -->

                    <ul class="dropdown-user-menu">
                        <li><a class="btn-warning"  *ngIf="statusProvider==3"> <i class="uil-user"></i> Wait admin accept!</a></li>
                        <li><a class="btn-success"  *ngIf="statusProvider==1"> <i class="uil-user" ></i> Ready</a></li>
                        <li><a class="btn-danger"  *ngIf="statusProvider==2"> <i class="uil-user" ></i> Busy</a></li>
                        <li><a class="btn-success" (click)="createProvider()" *ngIf="statusProvider!=1&&statusProvider!=2&&statusProvider!=3"> <i class="uil-bolt" ></i> Become Provider</a></li>
                        <li><a (click)="goToProfile()"> <i class="uil-user"></i> My Profile </a></li>
                        <li><a (click)="goToMyOrder()" > <i class="uil-invoice"></i> My Order </a></li>
                        <li><a (click)="goToMyBill()" > <i class="uil-invoice"></i> My Bill </a></li>
                        <li><a (click)="goToEditProfile()"> <i class="uil-edit"></i> Edit Profile </a></li>
                        <li><a (click)="goToProviderSetting()"> <i class="uil-cog"></i> Provider Settings</a></li>
                        <li class="menu-divider"></li>
                        <li><a (click)="logout()"> <i class="icon-feather-log-out"></i> Sing Out</a>
                        </li>
                    </ul>


                </div>

            </div>

        </header>

    </div>


    <div class="box-gradient-home"></div>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">

            <h2 class="text-white"> All Orders</h2>
            <nav id="breadcrumbs" class="text-white">
            </nav>


            <div class="card">
                <!-- Card header -->
                <div class="card-header actions-toolbar border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="d-inline-block mb-0">List</h4>
                        <div class="d-flex">

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="Search product">
                                <i class="uil-search"></i>
                            </a>
                            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                <form class="uk-search uk-search-navbar uk-width-1-1">
                                    <input class="uk-search-input shadow-0" type="search" placeholder="Search..."
                                           autofocus>
                                </form>
                            </div>

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="filter">
                                <i class="uil-filter"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-active"><a (click)="getAllBillOfAccountByIdAndStartOrder(idAccount, 5)"> Completed </a></li>
                                    <li class="uk-active"><a (click)="getAllBillOfAccountByIdAndStartOrder(idAccount,4)"> Rejected </a></li>
                                    <li class="uk-active"><a (click)="getAllBillOfAccountByIdAndStartOrder(idAccount,3)"> Confirmed </a></li>
                                    <li class="uk-active"><a (click)="getAllBillOfAccountByIdAndStartOrder(idAccount,2)"> Pending </a></li>
                                </ul>
                            </div>


                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="More">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a (click)="getAllBillOfAccountById()"> Refresh </a></li>
                                    <li><a href="#">Manage</a></li>
                                    <li><a href="#">Setting</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                        <tr>
                            <th scope="col">Provider</th>
                            <th scope="col">Start At</th>
                            <th scope="col">End At</th>
                            <th scope="col">Total Time</th>
                            <th scope="col">Total sales</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="list" *ngFor="let ba of listBillOfAccount">
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div>
                                        <div class="avatar-parent-child" style="width: max-content">
                                            <img alt="Image placeholder" src="{{ba.provider.account.avatar}}"
                                                 class="avatar  rounded-circle">
                                            <span class="avatar-child avatar-badge bg-success"></span>
                                        </div>
                                    </div>
                                    <div class="media-body ml-4">
                                        <a href="#" class="name h6 mb-0 text-sm">{{ba.provider.account.fullName}}</a>
                                    </div>
                                </div>
                            </th>
                            <td> {{ba.startOrder}} </td>
                            <td> {{ba.endOrder}} </td>
                            <td> {{ba.orderTime}} </td>
                            <td> ${{ba.total}} </td>
                            <td *ngIf="ba.statusOrder == 5"><span
                                    class="badge badge-success rounded-pill">Completed</span></td>
                            <td *ngIf="ba.statusOrder == 4"><span class="badge badge-dark rounded-pill">Rejected</span>
                            </td>
                            <td *ngIf="ba.statusOrder == 3"><span
                                    class="badge badge-success rounded-pill">Confirmed</span></td>
                            <td *ngIf="ba.statusOrder == 2"><span class="badge badge-danger rounded-pill">Pending</span>
                            </td>
                            <td class="text-right">
                                <!-- Actions -->
                                <div class="actions ml-3">
                                    <a *ngIf="ba.statusOrder == 3" class="btn btn-icon btn-hover btn-sm btn-circle"
                                       uk-tooltip="Completed" (click)="changeToCompleted(ba.id)">
                                        <i class="icon-feather-check-square"></i> </a>
                                    <!--                                    <a *ngIf="ba.statusOrder == 3" class="btn btn-icon btn-hover btn-sm btn-circle"-->
                                    <!--                                       uk-tooltip="Rejected" (click)="changeToRejected(ba.id)">-->
                                    <!--                                        <i class="icon-feather-x-square"></i> </a>-->
                                    <a class="btn btn-icon btn-hover btn-sm btn-circle"
                                       uk-tooltip="Delete">
                                        <i class="uil-trash-alt text-danger"></i> </a>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>



    </div>

</div>


